h1 {
  color: #FF652F;
  padding-right: 975px;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

#inputB {
    align-self: center;
    margin-right: 5px;
}

#btn {
    align-self: center;
    background-color: #FF652F;
}

#container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

h2{
    color: #14A76C;
}

body {
    background-color: #272727;
}

hr{
    color: #747474;
}

.imgs{
    width: 200px;
    height: 200px;
    margin: 40px;
    transition: 0.3s;
}

.imgs:hover{
    box-shadow: 10px 10px 5px #101010;
}